img {
  width: auto;
}
*{
    font-family: lato;
}
/* Alert*/
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #ffcc03; /* Red */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* header */

.logo {
  width: 35%;
}

.tagline {
  padding-left: 20px;
  width: 666px;
  height: 156px;
}

.container-fluid {
  background-color: #dddddd !important;
  width: 98% !important;
  margin-top: 10px;
  border-radius: 6px;
}

/* bread cumbs */
.breadcrumb-item {
  margin: 20px 0px 0px 0px; /* t r b l*/
}
ol li a {
  text-decoration: none;
  color: black;
}

/* navigation bar */
nav {
  flex: 1;
  text-align: right;
  background-color: #dddddd;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #db0000;
}
.navbar {
  background-color: #dddddd;
}
#form {
  margin-left: 10px;
}
.searchButton {
  margin-top: 2px;
  width: 14%;
  border-radius: 2px;
  background: white;
  border: none;
  height: 34px;
  width: 34px;
}

.fa-bars {
  display: none;
}

/* slider */
.carousel-item {
  margin-bottom: 47px;
}

/** brand **/
.brand {
  padding-top: 60px;
  border-top: #db0000 solid 6px;
}

.brand-bg {
  background: #ebebeb;
  padding: 90px 0px;
}

.margin {
  margin-bottom: 30px;
}

.brand-bg .brand_box {
  background: #fff;
  text-align: center;
  padding: 80px 0px 30px 0px;
}
.brand-bg .brand_box > img {
  height: 200px;
  width: auto;
}

.red {
  color: #ff0000;
  font-weight: 1000;
  font-size: 20px;
}

.brand-bg .brand_box span {
  display: block;
  color: #19449b;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 3px;
}
.brand-bg .brand_box i {
  padding: 0px 2px;
}

.read-more {
  max-width: 212px;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  background: #000;
  color: #fff !important;
  padding: 12px 0px;
  width: 100%;
  font-size: 17px;
  text-align: center;
  border-radius: 32px;
  margin-top: 40px;
}

.read-more:hover {
  background: #ff0000;
}
.brand_box p {
  margin: 5px;
}
.zoom {
  margin-bottom: 30px;
}

.zoom:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
/** end brand **/

/* footer */
footer {
  background-color: #dddddd;
  border-radius: 10px;
  margin-top: 47px;
}
.footer-copyright {
  background-color: #4c4c4c;
}
footer p {
  color: #000;
}
.copyright {
  color: #dddddd;
}
.footer {
  margin-top: 10px;
}
.bold {
  font-weight: 700;
  margin: 15px 0px 5px 0px;
}

/* category */
.Category {
  display: inline-block;
}

/* map  */
.map-container {
  overflow: hidden;
  position: relative;
  height: 0;
}
.map-container iframe {
  height: 50%;
  width: 50%;
  position: absolute;
}

/* about us body */

.link {
  color: #0044cc;
}

/* nav responsive */
@media only screen and (max-width: 750px) {
  nav {
    text-align: left;
  }
  nav ul {
    width: 100%;
    background-color: #dddddd;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
  }

  #menulist {
    overflow: hidden;
    transition: 0.5s;
  }
  .fa-bars {
    display: block;
    margin-right: 20px;
  }
  .carousel-item {
    margin-top: auto;
  }
  .logo {
    width: 40%;
  }
}
@media only screen and (max-width: 330px) {
  nav {
    text-align: left;
  }
  nav ul {
    width: 100%;
    background-color: #dddddd;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
  }

  #menulist {
    overflow: hidden;
    transition: 0.5s;
  }
  .fa-bars {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
  }
  .carousel-item {
    margin-top: auto;
  }
  .logo {
    width: 40%;
  }
}

